[data-vaul-drawer] {
	touch-action: none;
	will-change: transform;
	transition: transform 0.5s cubic-bezier(0.32, 0.72, 0, 1);
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='bottom'][data-state='open'] {
	animation-name: slideFromBottom;
}

[data-vaul-drawer][data-vaul-snap-points='false'][data-vaul-drawer-direction='bottom'][data-state='closed'] {
	animation-name: slideToBottom;
}

[data-vaul-overlay][data-vaul-snap-points='false'] {
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
}

[data-vaul-overlay][data-vaul-snap-points='false'][data-state='open'] {
	animation-name: fadeIn;
}

[data-vaul-overlay][data-state='closed'] {
	animation-name: fadeOut;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	to {
		opacity: 0;
	}
}

@keyframes slideFromBottom {
	from {
		transform: translate3d(0, 100%, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideToBottom {
	to {
		transform: translate3d(0, 100%, 0);
	}
}
